body {
  background-color: #fafaf2;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  text-align: center;
}

.wraper {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto auto;
  box-shadow: 2px 4px 12px 12px #d1d1e1;
}

.to-do-heading {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.task-input-field,
.edit {
  width: 100%;
  padding: 12px 6px;
  border: none;
  box-shadow: 2px 0 #d1d1e1;
  font-size: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid #a2a2a2;
  padding-bottom: 3px;
}

li p {
  font-family: 'Courier New', Courier, monospace;
}

.three-dots {
  flex-grow: 0;
}

.task-description {
  flex-grow: 1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
  font-style: oblique;
}

.checkox {
  flex-grow: 0;
}

.clear-button {
  padding: 10px;
  font-size: 15px;
  font-family: monospace;
  border: none;
  box-shadow: 2px 2px #d1d1d1;
  color: #717171;
}

.dn {
  display: none;
}
